
.espaciador{
    height: 50px;
}

.video{
    width: 100%;
    height: 900px;
    background-color: gainsboro;
    padding: 100px 250px;
}

.video div{
    height: 100%;
    width: 100%;
    border: salmon solid;
}