
.espaciador{
    height: 50px;
}

.video{
    width: 100%;
    height: 900px;
    background-color: gainsboro;
    padding: 100px 250px;
}

.video div{
    height: 100%;
    width: 100%;
}




.carousel-control-prev-icon {
    filter: invert(1) grayscale(1) brightness(0.5);
}

.carousel-control-next-icon {
    filter: invert(1) grayscale(1) brightness(0.5);
}
