.contenedorNav{
    background-image: linear-gradient(to bottom, #232526, #414345);
    
    width: 100%;
    height: 100px;
    position: fixed;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 100;
}

.secciones{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secciones ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secciones ul li{
    color: aliceblue;
    margin: 15px 150px 0px;
    font-family:  'Roboto', sans-serif;
    font-weight: 600;
}


.secciones ul li a {
    position: relative;
    color: aliceblue; 
    text-decoration: none; 

}

/* Efecto de subrayado progresivo de izquierda a derecha en hover */
.secciones ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px; /* Grosor del subrayado, puedes ajustarlo según tus preferencias */
    bottom: -2px;
    left: 0;
    background-color: aliceblue; /* Color del subrayado, puedes cambiarlo según tus preferencias */
    transition: width 0.3s ease; /* Transición suave para el subrayado */
}

.secciones ul li a:hover::before {
    width: 100%; /* El subrayado se expandirá completamente en hover */
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrito{
    margin-left: 60px;   
}