.espaciador{
   height: 150px;
   
        background-size: 400% 400% ;
        position: relative ;
        animation: cambiar 10s ease-in-out infinite ;
      
        color: #fff;
}



.navbar-nav .nav-link {
    padding-top: 25px; 
    padding-bottom: 25px; 
    color: #ecf0f1; 
}

.navbar-nav .nav-link:hover {
    color: #ffffff; 
}
.custom-toggler {
    height: 80px !important; /* Ajusta según sea necesario */
    width: 80px !important; /* Ajusta según sea necesario */
}